@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Playfair+Display&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

:root{
    --cor-primaria: #F25D27;
    --cor-secundaria: #F5EC6B;
    --cor-tercearia: #F49D89;
    --cor-quartenaria: #22d4fd;

    --fonte-primaria:'Playfair Display', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
    
}

h1{ 
    font-weight: bold;
}



span{
    color: var(--cor-tercearia);
    padding: 10px;  
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    
}

.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: var(--fonte-primaria);

}

.apresentacao__conteudo__sobremim {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: var(--fonte-primaria);

}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.25rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--cor-tercearia);
    border: 3px solid var(--cor-quartenaria);
    width: 50%;
    text-align: center;
    border-radius: 2px;
    font-size: 1.25rem;
    padding: 10px 10px;
    font-weight: 700;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__links:hover{
    background-color: var(--cor-secundaria) ;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    background-color: var(--cor-quartenaria);
    padding: 24px;
    color: black;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
   
}
